@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes blob {
  0%, 100% {
    transform: translate(0px, 0px) scale(1);
  }
  50% {
    transform: translate(20px, -30px) scale(1.05);
  }
}

.animate-blob {
  animation: blob 10s infinite ease-in-out;
  opacity: 0.35;
  filter: blur(40px);
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 20px!important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e0a6a6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  overflow-x: hidden;
}
